//colors
$white:                     #ffffff;
$brown-dark:           rgba(27, 21, 8, 1);
$broun-light:            rgba(70, 60, 40, 1);

//properties
$container-width: 940px;
$footer-height: 90px;


//mixins
@import "mixins/mixins";

//settings
@import 'layout/adjustment';
@import 'layout/font-awesome';
@import 'layout/fonts';


//pages
@import 'blocks/*.*';
@import 'vendors/*.*';
