section.gallery
    h1 Дом с сауной и бассеином
    .gallery__left
        .gallery__desc
            p
                | Приглашаем Вас в Дом с сауной и бассейном Премиум класса "У дяди Вани". 
                | Вас ждет просторная русская парная на дровах, в которой Вы не только отлично попаритесь но и отдохнете душой и телом.
    .gallery__right   
            .gallery__img.third-effect.view
                img(src="img/content/sauna.jpg").gallery__pic
                .mask
                    a(data-fancybox="gallery" rel="simplebox" href="img/content/sauna.jpg").info.info-big_v
            .gallery__img_small.third-effect.view
                img(src="img/content/pool.jpg").gallery__pic
                .mask
                    a(data-fancybox="gallery" rel="simplebox" href="img/content/pool.jpg").info.info-small_v
            .gallery__img_small.third-effect.view
                img(src="img/content/shower.jpg").gallery__pic
                .mask
                    a(data-fancybox="gallery" rel="simplebox" href="img/content/shower.jpg").info.info-small_v

section.gallery
    .gallery__left.float-right
        .gallery__desc
            p
                | На втором этаже распаложена комфортабельная зона отдыха с двумя спальнями, спутниковым TV и туалетом.
    .gallery__right
        .gallery__img.third-effect.view
            img(src="img/content/restroom.jpg").gallery__pic
            .mask
                a(data-fancybox="gallery2" rel="simplebox" href="img/content/restroom.jpg").info.info-big_h
        .gallery__img_small.third-effect.view
            img(src="img/content/restroom2.jpg").gallery__pic
            .mask
                a(data-fancybox="gallery2" rel="simplebox" href="img/content/restroom2.jpg").info.info-small_v
        .gallery__img_small.third-effect.view
            img(src="img/content/bedroom.jpg").gallery__pic
            .mask
                a(data-fancybox="gallery2" rel="simplebox" href="img/content/bedroom.jpg").info.info-small_v        
section.gallery
    .gallery__left
        .gallery__desc
            p
                | Во дворе установлен мангал, а для комфортного отдыха предусмотрен высокий забор и беседка с навесом от дождя. Так же на улицу выведены колонки и цветомузыка, для того, что бы Вы могли слушать свою любимую музыку не только в доме.
    .gallery__right   
        .gallery__img.third-effect.view
            img(src="img/content/bbq.jpg").gallery__pic
            .mask
                a(data-fancybox="gallery3" rel="simplebox" href="img/content/bbq.jpg").info.info-big_v
        .gallery__img_small.third-effect.view
            img(src="img/content/courtyard.jpg").gallery__pic
            .mask
                a(data-fancybox="gallery3" rel="simplebox" href="img/content/courtyard.jpg").info.info-small_h
        .gallery__img_small.third-effect.view
            img(src="img/content/alcove.jpg").gallery__pic    
            .mask
                a(data-fancybox="gallery3" rel="simplebox" href="img/content/alcove.jpg").info.info-small_h
section.gallery
    .gallery__left.float-right
        .gallery__desc
            p
                | Ну и конечно же, для вашего удобства в доме есть кухня, котороя оборудована всем необходимым включая столовую зону, где вы сможете перекусить и насладиться чаем из самовара.           
    .gallery__right
        .gallery__img.third-effect.view
            img(src="img/content/canteen.jpg").gallery__pic
            .mask
                a(data-fancybox="images" rel="simplebox" href="img/content/canteen.jpg").info.info-big_v
