.contacts
    h1 Где мы находимся
    .contacts_left
        p 
            span.contacts_font Адрес: 
            br
            span.contacts_font-bold Чебоксары, Лапсарский проезд, д. 4.
        p 
            span.contacts_font Телефон:
            br
            a(href="tel:+79033222679").contacts_font-bold 8(903)322-26-79
    .contacts_right
        p
            span 
                | Запись производится ежедневно с 09:00 до 21:00
        p
            span 
                | Бронировать сауну необходимо заранее по указанному телефону.
            
