footer.footer
    .container
        .footer__left
            p Желаем вам приятного отдыха!
            p И отличного настроения! 
        .footer__right
            p Чебоксары, Лапсарский проезд, д. 4.
            p 
                a(href="tel:+79033222679").phone_link 8(903)322-26-79
