header.header.compensate-for-scrollbar
    .container
        .header__wrap
            .header__left
                .logo
                    span.logo_name Сауна 
                    br
                    span.logo_name у
                    br
                    span.logo_name Дяди Вани
            .header__center
            .header__right
                a(href="tel:+79033222679").header__phone 8(903)322-26-79
                span.header__location Чебоксары
                span.header__location Лапсарский проезд, д. 4
        nav.header__menu
            ul.menu__list
                li.menu__item
                    a(href="/").menu__link
                        | Главная
                li.menu__item
                    a(href="/price.html").menu__link
                        | Цены
                li.menu__item
                    a(href="/regulations.html").menu__link
                        | Правила
                li.menu__item
                    a(href="/contacts.html").menu__link
                        | Контакты
