.price
    h1 Наши цены
    p
        span.price_desc Аренда двухэтажного дома до 10 человек.
        br
        span.price_desc Для аренды дома необходимо внести залог в размере 
          b 3000 руб.
    h2 Стоимость посуточной аренды:
    ul
        li
            span.price_desc Пятница = 
              b 7000 руб.
        li
            span.price_desc Суббота = 
              b 9000 руб.
        li
            span.price_desc Воскресенье - Четверг = 
              b 6000 руб.
        
    span.price_desc.description Топка бани оплачивается отдельно = 
    span.price_desc
     b 800 руб.
    
    h2 Стоимость почасовой аренды:
    ul
        li
            span.price_desc 1 час = 
              b 800 руб.
              br
    span.price_desc.description Минимальное время бронирования 5 часов.

    h2 Стоимость дополнительных услуг:
    ul
      li
          span.price_desc Дополнительная топка бани = 
           b 800 руб.
      li
          span.price_desc Веник березовый = 
            b 200 руб.
      li
          span.price_desc Веник дубовый = 
             b 250 руб.
      li
          span.price_desc Тапочки = 
             b бесплатно.
      li
          span.price_desc Уголь для мангала 1 мешок = 
            b 150 руб.
      li
          span.price_desc Розжиг для углей = 
            b 100 руб.
            
              
    h2 Аренда:
    ul
      li
          span.price_desc Караоке = 
            b 500 руб.
      li
          span.price_desc Простынь = 
            b 100 руб.
      li
          span.price_desc Шапка для бани = 
            b 50 руб.
      li
          span.price_desc Полотенце на липучках = 
            b 70 руб.
      li
          span.price_desc Самовар = 
            b 300 руб.
      li
          span.price_desc Решетка для мангала = 
            b 100 руб.
      li
          span.price_desc Шампура = 
            b 100 руб.
      li
          span.price_desc Чугун 15 литров = 
            b 100 руб.

    h2 Стоимость аренды на новогодние праздники:
    span.price_desc.description Информацию о ценах уточняйте по телефону 8(903)322-26-79.
    p.ps
      span.price_desc *Администрация оставляет за собой право изменения стоимости аренды в праздничные дни и дни с высоким спросом.
