.regulations
    h1 Правила посещения сауны
    ol.regulations_list
        li
            span.regulations_desc Бронирование осуществляется после внесения предоплаты в размере 2000 рублей. При отказе от аренды сауны менее чем за 6 часов до начала сеанса, сумма внесенной предоплаты не возвращается.
        li
            span.regulations_desc При досрочном освобождении сауны сумма оплаты за оставшиеся часы  не возвращается. Минимальное пребывание в сауне 3 часа.
        li
            span.regulations_desc Вход в сауну разрешается только после 100% оплаты заявленных часов аренды.
        li
            span.regulations_desc При желании продлить время отдыха, оплата производится заранее за все дополнительное время (при наличии свободных мест)
        li
            span.regulations_desc Вход с огнестрельным оружием, средствами самозащиты и колюще-режущими предметами строго запрещен.
        li
            span.regulations_desc В арендуемых залах комплекса запрещено :
            ul.regulations_list__desc
                li 
                    span.regulations_desc прыгать в бассейн с бортиков.
                li
                    span.regulations_desc курить и употреблять спиртные напитки в бассейне, случайно разбитое стекло несет угрозу вашему здоровью. Используйте для фужеров и пепельниц столы, полки.
                li
                    span.regulations_desc ходить по влажному полу без сланцев - это травмоопасно!
        li
            span.regulations_desc Запрещено посещение сауны детьми до 18 лет без сопровождения взрослых.
        li
            span.regulations_desc Запрещено в состоянии алкогольного опьянения пользоваться местами повышенной опасности:
            ul.regulations_list__desc
                li
                    span.regulations_desc парильным отделением.
                li
                    span.regulations_desc бассейном.
        li
            span.regulations_desc За нанесение материального ущерба имущества организации клиент обязан возместить ущерб, согласно утвержденному прейскуранту.
        li
            span.regulations_desc За нанесение материального ущерба имуществу комплекса  и отказ в единовременном возмещении, администратор вправе потребовать залог в виде личного имущества клиента до возмещения принесенного убытка в полном объеме.
        li
            span.regulations_desc При нарушении вышеуказаных пунктов, из правил посещения сауны, администратор имеет полное право предупредить или вызвав вневедомственную охрану удалить нарушителя без возврата оплаченной аренды, а в исключительных случаях - без права на повторное посещение сауны.
        li
            span.regulations_desc Настоятельно рекумендуем перед посещением сауны, бассейна проконсультироваться с лечащим врачом о состоянии вашего здоровья.
        li
            span.regulations_desc За потерю личных ценных вещей работники комплекса ответственности не несут.
        li
            span.regulations_desc Администратор имеет право отказать в аренде клиенту без объяснения причин.

        h2 Штраф за порчу имущества:
        ul.regulations_price
            li
                span.price_desc Порча дивана - 5000 руб.
            li
                span.price_desc Рюмка - 50 руб.
            li
                span.price_desc Бокал - 100 руб.
            li
                span.price_desc Стакан - 100 руб.
            li
                span.price_desc Зеркало - 2000 руб.
            li
                span.price_desc Телевизор - 40000 руб.
            li
                span.price_desc Дверь стеклянная - 5000 руб.
    p     
        | В СЛУЧАЕ ОПЛАТЫ АРЕНДЫ САУНЫ ПОКУПАТЕЛЬ СОГЛАШАЕТСЯ С ВЫШЕУКАЗАННЫМИ ПРАВИЛАМИ.
    p
        | Желаем Вам приятного отдыха!
