html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'kurale', Arial, Tahoma, sans-serif;
	margin: 0;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.42;
	color: $brown-dark;
	-webkit-font-smoothing: antialiased;
	background: url('../../img/bg/bg-2.jpg');

	@include tablets() {
		font-size: 14px;
    }

}

.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;

	@include phones() {
        min-width: 320px;
    }

	&::after {
		content: "";
		display: block;
		height: $footer-height;
	}
}

.container {
	max-width: $container-width + 20px;
	margin: 0 auto;
	@extend %clearfix;
}

.footer {
    width: 100%;
    height: $footer-height;
	margin-top: -$footer-height;
}


ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
}

h1 {
	padding: 20px;
	margin: 0;
	font-weight: normal;
	text-align: center;
	@include phones() {
		padding: 10px;
	}
}

h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

button {
    border: none;
    outline: none;
    background: 0 0;
    cursor: pointer;
}

* {
	box-sizing: border-box;
}


%clearfix {
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}
