extends ../_template

block variables
    - var title = 'Аренда дома с сауной | Контакты'


block header
    include ../common/_header
    
block content
    include ../common/_contacts
block map
    include ../common/_map
    
block footer
    include ../common/_footer
