extends ../_template

block variables
    - var title = 'Аренда дома с сауной | Цены'


block header
    include ../common/_header
    
block content
    include ../common/_price

block footer
    include ../common/_footer
