extends ../_template

block variables
    - var title = 'Аренда дома с сауной | Правила посещения'


block header
    include ../common/_header
    
block content
    include ../common/_regulations

block footer
    include ../common/_footer
